
{% load static%}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>



    {% block content %}
        <h1>Logout</h1>
            {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <!-- Super User Page -->
            <p>Welcome, Superuser {{ user.username }}!</p>
        {% else %}
            <!-- Regular User Page -->
            <p>Welcome, {{ user.username }}!</p>
        {% endif %}

        <!-- Logout button (moved outside of the conditional blocks) -->
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type='submit'>Log out</button>
        </form>

    {% else %}
        <br>
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
    {% endblock %}


        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'signup' %}">Signup</a>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>