{% extends 'app/base.html' %}
{% block content %}
    <h1>Lost Items</h1>

    <!-- Navigation Links -->
    <a href="{% url 'add-lost-item' %}">Add Lost Item</a>
    <a href="{% url 'found-item' %}">Found Items</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item</th>
                <th>Status</th>
                <th>Category</th>
                <th>Location</th>
                <th>Date</th>
                <th>Contact Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lostitem %}
                <tr>
                    <td><a href="{% url 'lost-item-view' item.pk %}">{{ item.item }}</a></td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.location }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.contact_name }}</td>
                    <td>
                        <a href="{% url 'update-lost-item' item.pk %}">Update</a> |
                        <a href="{% url 'delete-lost-item' item.pk %}">Delete</a> |
                        {% if item.status != "Found" %}
                            <a href="{% url 'update-status-to-found' item.pk %}">Mark as Found</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
